@{
    ViewData["Title"] = "关于本站";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<h4>本人从事软件开发工作多年,科班软件工程毕业，能够熟练开发各种Web网站，WinForm程序，App/微信小程序等常用程序，熟练使用ASP.NET MVC进行程序开发。并且有着很好的软件基础知识。</h4>
