@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>联系邮箱:</strong> <a href="mailto:1612758328@qq.com">点我发送邮件</a><br />
    <strong>QQ联系方式:</strong> <a href="http://wpa.qq.com/msgrd?v=3&uin=1612758328&site=qq&menu=yes">1612758328</a>
</address>
