
<!-- Start Breadcrumb -->
<div id="mu-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb mu-breadcrumb">
                        <li class="breadcrumb-item"><a href="#">主页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">文件下载中心</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Start main content -->
<main>
    <!-- Start Blog -->
    <section id="mu-blog" class="mu-blog-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-blog-area">
                        <!-- Title -->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="mu-blog-left">
                                    <!-- start single item -->
                                    <article class="mu-blog-item">
                                        @*<img src="assets/images/blog-img-1.jpg" alt="blgo image">*@
                                        <div class="mu-blog-item-content">

                                            <h2 class="mu-blog-item-title">基于帧间差分算法的运动目标检测研究</h2>
                                            <ul class="mu-blog-meta">
                                                <li>作者：狂鲨达科技 </li>
                                                <li><a href="@Url.Content("~/Files/Docs/基于帧间差分算法的运动目标检测研究.doc")"><i class="fa fa-download"></i>26</a></li>

                                            </ul>
                                            <p>毕业论文，基于帧间差分算法的运动目标检测研究，三帧差分算法。</p>
                                            <h2 class="mu-blog-item-title">.Net面试题目大全</h2>
                                            <ul class="mu-blog-meta">
                                                <li>作者：狂鲨达科技 </li>
                                                <li><a href="@Url.Content("~/Files/Docs/.Net面试题目大全.docx")"><i class="fa fa-download"></i>26</a></li>

                                            </ul>
                                            <p>Net面试题目大全。整理了常用的.Net 面试题</p>
                                            <!-- End Blog Post Tag -->
                                        </div>


                                    </article>
                                    <!-- End single item -->

                                </div>
                            </div>
     
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog -->
</main>